<p>Cast your vote for the cuter creature: puppies or kittens:</p>
<div class='voteButtonWrap'>
  <form method='post' action='/vote'>
    <input type='radio' name='animal' value='kittens'>Kittens!</input>
    <input type='radio' name='animal' value='puppies'>Puppies!</input>
    <br><br>
    <button type='submit'>Vote</button>
  </form>
</div>
