<p>Cast your vote for the cuter creature: puppies or kittens:</p>
<p>
    <form action="vote" method="post">
        <input name="animal" type="submit" value="Kittens">
        <input name="animal" type="submit" value="Puppies">
    </form>
</p>
    