<!doctype html>
<html>

<head>
  <title>Puppies vs. Kittens</title>
  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width">
</head>

<body>
  <div class="container">
    <h1>Puppies vs. Kittens</h1>
    <img src='img/puppyvskitten.jpg'></img>
    {{{body}}}
  </div>
</body>

</html>
