<!doctype html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width">
</head>

<body>
    <div class="container">
        <header><h1>{{head}}</h1></header>
        <img src="{{image}}" alt="kittens vs. puppies">
        <div class="main">
            {{{body}}}
        </div>
    </div>
</body>
 
</body>

</html>