<div id="paragraph">
    <p>Thank you for voting for {{animal}}!</p>
    <div id="current-votes">
        <h2>Current Votes</h2>
        <p>Puppies: {{score.puppies}}</p>
        <p>Kittens: {{score.kittens}}</p>
    </div>
</div>