<div class ="textBox">
	<div class="innerBox">
		<p>Thanks for voting! The {{animal}} have {{count}} total votes so far.</p>
	</div>
</div>
<div class="resultBox">
	<img src={{image}} width="600" height="350">
</div>
