<!doctype html>
html
    head
        link(rel='stylesheet' href='/style.css')
        title Puppies Vs. Kittens
    body
        h1 Thank you for voting, #{name}!
        p You voted for #{selection}.
        p #{selection} has #{voteCount} vote(s).