<div id="paragraph">
    <p>You voted for {{animal}}, thanks!</p>
    <div id="current-votes">
        <h2>Current Votes</h2>

        <p>Puppies: {{votes.puppies}}</p>
        <p>Kittens: {{votes.kittens}}</p>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>