<div id="paragraph">
    <div id="radio-input">
        <p>Cast your vote for the superior pet, Puppies or Kittens:</p>
        
        <form method='post' action='/vote'>
            <input type='radio' name='animal' value='puppies'>Puppies</input>
            <input type='radio' name='animal' value='kittens'>Kittens</input>
    </div>
    <br>
    <button class= "button" type='submit'>Vote</button>
    </form>

</div>